<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bondevans.frets"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-feature
        android:name="android.software.midi"
        android:required="true"/>

    <application
        android:name="com.bondevans.frets.app.FretApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.bondevans.frets.fretviewer.FretViewActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.bondevans.frets.filebrowser.FileBrowserActivity">
        </activity>
        <activity
            android:name=".freteditor.FretSongEditActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.bondevans.frets.fretlist.FretListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
